src/conf/xml-resources/web-service-references/MovieStoreSOAP/wsdl/localhost_8080/MovieStore/MovieStoreSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="MovieStoreSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/MovieStore/MovieStoreSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fetchLogin">
<part name="parameters" element="tns:fetchLogin"/>
</message>
<message name="fetchLoginResponse">
<part name="parameters" element="tns:fetchLoginResponse"/>
</message>
<message name="fetchMovies">
<part name="parameters" element="tns:fetchMovies"/>
</message>
<message name="fetchMoviesResponse">
<part name="parameters" element="tns:fetchMoviesResponse"/>
</message>
<message name="matchOrderID">
<part name="parameters" element="tns:matchOrderID"/>
</message>
<message name="matchOrderIDResponse">
<part name="parameters" element="tns:matchOrderIDResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="getOrdersbyID">
<part name="parameters" element="tns:getOrdersbyID"/>
</message>
<message name="getOrdersbyIDResponse">
<part name="parameters" element="tns:getOrdersbyIDResponse"/>
</message>
<message name="getOrdersbyTitle">
<part name="parameters" element="tns:getOrdersbyTitle"/>
</message>
<message name="getOrdersbyTitleResponse">
<part name="parameters" element="tns:getOrdersbyTitleResponse"/>
</message>
<message name="setOrder">
<part name="parameters" element="tns:setOrder"/>
</message>
<message name="setOrderResponse">
<part name="parameters" element="tns:setOrderResponse"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="getOrdersbyStatus">
<part name="parameters" element="tns:getOrdersbyStatus"/>
</message>
<message name="getOrdersbyStatusResponse">
<part name="parameters" element="tns:getOrdersbyStatusResponse"/>
</message>
<portType name="MovieStoreSOAP">
<operation name="fetchUsers">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsers/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsers/Fault/Exception"/>
</operation>
<operation name="fetchLogin">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLoginRequest" message="tns:fetchLogin"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLoginResponse" message="tns:fetchLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLogin/Fault/Exception"/>
</operation>
<operation name="fetchMovies">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMoviesRequest" message="tns:fetchMovies"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMoviesResponse" message="tns:fetchMoviesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMovies/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMovies/Fault/Exception"/>
</operation>
<operation name="matchOrderID">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/matchOrderIDRequest" message="tns:matchOrderID"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/matchOrderIDResponse" message="tns:matchOrderIDResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/matchOrderID/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/matchOrderID/Fault/Exception"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/cancelOrderResponse" message="tns:cancelOrderResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/cancelOrder/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/cancelOrder/Fault/Exception"/>
</operation>
<operation name="getOrdersbyID">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyIDRequest" message="tns:getOrdersbyID"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyIDResponse" message="tns:getOrdersbyIDResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyID/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyID/Fault/Exception"/>
</operation>
<operation name="getOrdersbyTitle">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyTitleRequest" message="tns:getOrdersbyTitle"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyTitleResponse" message="tns:getOrdersbyTitleResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyTitle/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyTitle/Fault/Exception"/>
</operation>
<operation name="setOrder">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/setOrderRequest" message="tns:setOrder"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/setOrderResponse" message="tns:setOrderResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/setOrder/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/setOrder/Fault/Exception"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/removeUserResponse" message="tns:removeUserResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/removeUser/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/removeUser/Fault/Exception"/>
</operation>
<operation name="getOrdersbyStatus">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyStatusRequest" message="tns:getOrdersbyStatus"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyStatusResponse" message="tns:getOrdersbyStatusResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyStatus/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/getOrdersbyStatus/Fault/Exception"/>
</operation>
</portType>
<binding name="MovieStoreSOAPPortBinding" type="tns:MovieStoreSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="matchOrderID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrdersbyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrdersbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrdersbyStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="MovieStoreSOAP">
<port name="MovieStoreSOAPPort" binding="tns:MovieStoreSOAPPortBinding">
<soap:address location="http://localhost:8080/MovieStore/MovieStoreSOAP"/>
</port>
</service>
</definitions>