src/conf/xml-resources/web-service-references/MovieStoreSOAP/wsdl/localhost_8080/MovieStore/MovieStoreSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="MovieStoreSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/MovieStore/MovieStoreSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fetchLogin">
<part name="parameters" element="tns:fetchLogin"/>
</message>
<message name="fetchLoginResponse">
<part name="parameters" element="tns:fetchLoginResponse"/>
</message>
<message name="fetchMovies">
<part name="parameters" element="tns:fetchMovies"/>
</message>
<message name="fetchMoviesResponse">
<part name="parameters" element="tns:fetchMoviesResponse"/>
</message>
<portType name="MovieStoreSOAP">
<operation name="fetchUsers">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsers/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchUsers/Fault/Exception"/>
</operation>
<operation name="fetchLogin">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLoginRequest" message="tns:fetchLogin"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLoginResponse" message="tns:fetchLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchLogin/Fault/Exception"/>
</operation>
<operation name="fetchMovies">
<input wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMoviesRequest" message="tns:fetchMovies"/>
<output wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMoviesResponse" message="tns:fetchMoviesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMovies/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/MovieStoreSOAP/fetchMovies/Fault/Exception"/>
</operation>
</portType>
<binding name="MovieStoreSOAPPortBinding" type="tns:MovieStoreSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="MovieStoreSOAP">
<port name="MovieStoreSOAPPort" binding="tns:MovieStoreSOAPPortBinding">
<soap:address location="http://localhost:8080/MovieStore/MovieStoreSOAP"/>
</port>
</service>
</definitions>